<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
        <title>NLP App</title>
    </head>

    <body>

        <header>
            <div>
                Natural Language Processing
            </div>
            <div>
                <a href="https://github.com/ElineJ/news-nlp">GitHub</a>
            </div>
        </header>

        <main>
            <section class="content">
                <form onsubmit="return Client.handleSubmit(event)">
                    <label for="title">Enter your text here</label>
                    <input id="name" type="text" name="input" value="" placeholder="Text or URL">
                    <input type="submit" name="" value="Analyze text" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
            </section>

            <section class="form-result">
                <strong>Form Results:</strong>
                <div id="results"></div>
            </section>
        </main>

        <footer>
            <p>Created by Eline Jacobse for <a href="https://www.udacity.com/course/front-end-web-developer-nanodegree--nd0011">Udacity</a></p>
        </footer>
        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>
    </body>
</html>
